<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pg.api.repository.UserMapper">

    <resultMap id="userResultMap" type="com.pg.api.domain.User">
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="role" column="role"/>
    </resultMap>

    <select id="findByUsername" resultMap="userResultMap">
        SELECT username, password, email, role
        FROM pgdev.users
        WHERE username = #{username}
    </select>

    <select id="findUserIdByUsername" resultType="long">
        SELECT user_id
        FROM pgdev.users
        WHERE username = #{username}
    </select>

    <insert id="insertUserActivityLog">
        INSERT INTO pgdev.user_activity_logs (
            user_id,
            activity_type,
            activity_title,
            activity_detail,
            actor_username,
            ip_address,
            user_agent
        ) VALUES (
            #{userId},
            #{activityType},
            #{activityTitle},
            #{activityDetail},
            #{actorUsername},
            #{ipAddress},
            #{userAgent}
        )
    </insert>

</mapper>
